<!DOCTYPE html>
<html>
  <head>
    <title>BudgetAppRedo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <main class="main">
  <%= yield %>

  <% if notice %>
    <p class=""><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class=""><%= alert %></p>
  <% end %>

  <% if flash[:error] %>
    <p class=""><%= flash[:error] %></p>
  <% end %>
</main>
  </body>
</html>
